<div class="row gutters">

  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="col-sm-12">
          <h4 class="card-title text-center">Detalle del modulo estandar</h4>
        </div>
        <form>
          <div class="row gutters">
            <div class="col-sm-4 col-12">
              <div class="col-md-12 d-flex align-items-center">
                <button mat-button matTooltip="Guardar elemento del plan de inversión">
                  <mat-icon>save</mat-icon>Guardar
                </button>
                <button mat-button matTooltip="Volver al plan de inversión">
                  <mat-icon>reply</mat-icon>Volver
                </button>
              </div>
            </div>
          </div>
        </form>

        <div class="table-responsive mg-t-40">
          <table class="table table-invoice" style="background-color: #00215A; color:aliceblue">
            <tbody >
              <tr style="background-color: #00215A;">
                <td><strong>NOMBRE DE MÓDULO</strong></td>
                <td class="tx-12">: MÓDULO DE CELDA TIPO CONVENCIONAL, AL EXTERIOR 10 KV COSTA (De 0 a 1000 msnm) - SIMPLE BARRA - ALIMENTADOR - Corriente de Cortocircuito 16 kA</td>
              </tr>
              <tr style="background-color: #00215A;">
                <td><strong>CÓDIGO</strong></td>
                <td class="tx-6">
                  <div class="col-md-3">
                  <select style="background-color: #00215A; color: aliceblue;"
                  class="form-control">
                  <option label="Seleccionar codigo" value=""></option>
                  <option>CE-010COC1ESBTR</option>
                  <option>CE-010COC1ESBAL</option>
                  <option>CE-010COC1ESBLA</option>
                  <option>CE-500SEENEIMTR</option>
                  <option>CE-500SIC1EIMMD</option>
                  <option>CE-500SIC1ERL</option>
                  <option>CE-220SIC1ESBLI</option>
                  <option>CE-500SIENEIMMD</option>
                  <option>CE-500SIENEIMLI</option>
                </select>
              </div>
                </td>

              </tr>
              <tr style="background-color: #00215A;">
                <td><strong>TIPO DE EQUIPAMIENTO SUBESTACIÓN</strong></td>
                <td class="tx-12">: SUBESTACION TIPO  CONVENCIONAL, AL EXTERIOR</td>

              </tr>
              <tr style="background-color: #00215A;">
                <td><strong>NIVEL DE TENSIÓN</strong></td>
                <td class="tx-12">: 10 kV</td>
              </tr>
              <tr style="background-color: #00215A;">
                <td><strong>LUGAR</strong></td>
                <td class="tx-12">: COSTA</td>
              </tr>
              <tr style="background-color: #00215A;">
                <td><strong>SISTEMA DE BARRAS -TIPO DE CELDA</strong></td>
                <td class="tx-12">: SIMPLE BARRA - ALIMENTADOR</td>
              </tr>
              <tr style="background-color: #00215A;">
                <td><strong>TIPO DE MODULO ESTANDAR</strong></td>
                <td class="tx-12">: MODULO DE CELDAS</td>
              </tr>

            </tbody>
          </table>
      </div>
    </div>
    <div class="row gutters">
      <div class="col-sm-12">

        <div class="table-container">

          <div class="table-container table-responsive">
            <table class="table-xl" border="1">
              <thead style="font-size: 10px; background-color: #00215A; color: aliceblue; text-align: center;">
                <tr>
                  <th rowspan="3" style="width: 200px; height: 50px;">Descripción</th>
                  <th rowspan="3" style="width: 60px; height: 50px;">CODPART</th>
                  <th rowspan="3" style="width: 60px; height: 50px;">UNIDAD</th>
                  <th rowspan="3">CANTIDAD</th>
                  <th colspan="4">SUMINISTROS IMPORTADOS</th>
                  <th colspan="2">SUMINISTROS NACIONALES (M.N.)</th>
                  <th colspan="2">FLETE DE SUMINISTROS A OBRA (M.N.)</th>
                  <th colspan="5"> Y MONTAJE ELECTROMECÁNICO</th>
                  <th rowspan="3">TOTAL GENERAL (U$$)</th>
                </tr>
                <tr>
                  <th colspan="2">PRECIO CIF (M.E.)</th>
                  <th rowspan="2">ARANCEL (M.N.)</th>
                  <th rowspan="2">GG ADUANAS (M.N.)</th>
                  <th rowspan="2">UNITARIO (USD)</th>
                  <th rowspan="2">TOTAL (USD)</th>
                  <th rowspan="2">UNITARIO (USD)</th>
                  <th rowspan="2">TOTAL (USD)</th>
                  <th colspan="2"> (M.N.)</th>
                  <th colspan="2">MONTAJE ELECTROMECÁNICO (M.N.)</th>
                  <th rowspan="4">SUB-TOTAL (M.N.) (USD)</th>
                </tr>
                <tr>
                  <th>UNITARIO (USD)</th>
                  <th>TOTAL (USD)</th>
                  <th>UNITARIO (USD)</th>
                  <th>TOTAL (USD)</th>
                  <th>UNITARIO (USD)</th>
                  <th>TOTAL (USD)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td style="font-size: 10px;"><strong>OBRAS CIVILES</strong></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>


                <tr>
                  <td style="font-size: 10px;">Base para Interruptor</td>
                  <td style="font-size: 10px;">IN-010CO</td>
                  <td style="font-size: 10px;">UND</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                </tr>
                <tr>
                  <td style="font-size: 10px;">Base para Portico</td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>
                <tr>
                  <td style="font-size: 10px;"><strong>EQUIPOS PRINCIPALES</strong></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>

                <tr>
                  <td style="font-size: 10px;">Transformador de tensión , 10 kV, 75 KVp (BIL), 10/V3 / 0,1/V3 0,1/V3 kV, 30 VA - 3P, 30 VA - Cl 0,5, para instalar en viga</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                </tr>
                <tr>
                  <td style="font-size: 10px;"><strong>EQUIPOS COMPLEMENTARIOS</strong></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>
                <tr>
                  <td style="font-size: 10px;">Cables de Baja Tensión</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                </tr>
                <tr>
                  <td style="font-size: 10px;">Conexión al sistema de RTP Transformador de tensión capacitivo</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                  <td style="font-size: 10px;">-</td>
                </tr>
                <tr>
                  <td style="font-size: 10px;"><strong>PRUEBAS Y PUESTA EN SERVICIO CELDAS, 10 KV</strong></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>
                <tr>
                  <td style="font-size: 10px;"><strong>INGENIERIA DE DETALLE</strong></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>
                <tr>
                  <td style="font-size: 10px;"><strong>TOTAL COSTO</strong></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>
                <tr>
                  <td style="font-size: 10px;"><strong>UTILIDAS DEL CONTRATISTA</strong></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>
                <tr>
                  <td style="font-size: 10px;"><strong>GASTOS GENERALES DE CONTRATISTA</strong></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>
                <tr>
                  <td style="font-size: 10px;"><strong>TOTAL GENERAL</strong></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>
                <tr>
                  <td style="font-size: 10px;"><strong>TOTAL MONEDA EXTRANJERA </strong></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>
                <tr>
                  <td style="font-size: 10px;"><strong>TOTAL MONEDA NACIONAL </strong></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>

                <tr>
                  <td style="font-size: 10px;"><strong>TOTAL COMPONENTE ALUMINIO </strong></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>

                <tr>
                  <td style="font-size: 10px;"><strong>TOTAL COMPONENTE COBRE  </strong></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                  <td style="font-size: 10px;"></td>
                </tr>
              </tbody>
            </table>


          </div>
        </div>
      </div>
    </div>
